<br/>
<%= link_to 'Listing Product', {:controller => 'products', :action => :index}, {:class => 'btn btn-info'} %>
<%= link_to 'Listing Type', {:controller => 'types', :action => :index}, {:class => 'btn btn-info'} %>
<div class="row">
	<div class="span4">
		<h1>Welcome!</h1>
	</div>
	<div class="span8">
		<img src="/img/Retail-shop-icon.png" alt="rails"/>
	</div>
</div>
<div class="span12">
	<hr/>
	<p>Power by Ruby on Rails</p>
</div>