<br/>
<%= link_to 'Listing Product', {:controller => 'products', :action => :index}, {:class => 'btn btn-info'} %>
<%= link_to 'Listing Type', {:controller => 'types', :action => :index}, {:class => 'btn btn-info'} %>
<h1>Welcome!</h1>
<img src="/img/rails.png" alt="rails"/>