<h1>Listing Products</h1>
<%= link_to 'Listing Type', {:controller => 'types', :action => :index}, {:class => 'btn btn-primary'} %>
<%= link_to 'New Product', {:controller => 'types', :action => :new}, {:class => 'btn btn-primary'} %>
<br/><br/>
<table class="table">
  <tr>
    <th>Description</th>
    <th>Amount</th>     
  </tr>
  
</table>