<p>
  <strong>Type:</strong>
  <%= @product.type %>
</p>
<p>
  <strong>Amount:</strong>
  <%= @product.amount %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Back', :action => :index %>